name: CD

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read 

    steps:
      # Récupèration du code source
      - uses: actions/checkout@v4

     # Installation de Python 3.12
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # Installation des dépendances pour la machine virtuelle
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      
      - name: Build package
        run: python -m build

     
      - name: Check package
        run: twine check dist/* # Vérifie que les fichiers dans dist/ sont valides pour la publication

      - name: Publish to TestPyPI
       
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
        run: |
          twine upload --repository-url https://test.pypi.org/legacy/ dist/*